---
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/global.css"
---

<BaseLayout title="My first astro page">
    <section class="flex flex-col items-center text-center gap-8 py-16">

        <h1 class="text-4xl font-bold text-zinc-100 tracking-tight">
            Primera web con <span class="text-indigo-400">Astro</span>
        </h1>

        <img
            src="https://astro.build/assets/press/astro-icon-light.svg"
            alt="Logo de Astro"
            width="120"
            height="120"
        />

        
      <a href="https://www.youtube.com/watch?v=WHqZAXHZN_w&t=105s">
	Video usado para hacer la web y aprender astro desde cero
	</a>

    </section>
</BaseLayout>

